body {
mirgin: 0;

}


.card-container{
	display: flex;
	flex-dircation: row;
	flex-wrap: wrap;
	gap: 20px;



}

.nav-container{

	display: flex;
	justify-content: space-between;
	align-items: center;



}

