body {
	margin: 0;

}


.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 30px;

	

}

.nav-container {

	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: beige;
	

}

.card {

	padding: 20px;
	background-color: bisque;
	flex: 1 1 250px;
	position: relative;
}

a {

	text-decoration: none;
	color: black;


}

.badge {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: red;
	color: white;
	padding: 5px;
	font-size: 12px;
}